<mat-expansion-panel hideToggle="true" (opened)="showInfo(item.jardinid)" >
	<mat-expansion-panel-header>
		<table width="100%" class="items">
			<tr>
				<td class="contentCell" width="45%">{{ item.nom }}</td>
				<td class="contentCell" width="30%">{{ item.jardinid}}</td>
				<td class="contentCell" width="25%">{{ item.surfacejardin }}</td>
			</tr>
		</table>
	</mat-expansion-panel-header>
	<table align="center" border="1" width="100%">
		<tr>
		  	<th>Position parcelle</th>
		  	<th>Largeur</th>
		  	<th>Longueur</th>
		</tr>
		<tr  id="parcelle" *ngFor="let parcelle of parcelles; let i = index" (click)="goToRang(parcelle)">
			<td>({{ parcelle.xparcelle }}, {{ parcelle.yparcelle }})</td>
			<td>{{ parcelle.largeur }}</td>
			<td>{{ parcelle.longueur }}</td>
		</tr>
	</table>
</mat-expansion-panel>
