#parcelle:hover {
    color: #9A75F0;
}

.header {
    font-size: 18px;
    color: #9A75F0;
}
.contentCell {
    padding-left: 24px;
	padding-right: 24px;
	padding-top: 12px;
	padding-bottom: 12px;
}
.mat-expansion-panel-header:hover{
	color: #9A75F0;
}
.mat-expansion-panel-header {
    padding: 0;
}
.mat-expansion-panel{
	display: unset;
}
.items{
	border:none;
	background-color: white;
}

