<mat-expansion-panel hideToggle="true" (opened)="showInfo(item.jardinid)">
	<mat-expansion-panel-header>
		<tr>
			<td class="contentCell" width="400">{{ item.nom }}</td>
			<td class="contentCell" width="250">{{ item.jardinid}}</td>
			<td class="contentCell" width="150">{{ item.surfacejardin }}</td>
		</tr>
	</mat-expansion-panel-header>
	<table id="cssTable" align="center" border="1">
		<thead class="header">
			
		  	<th class="contentCell" width="400">Position parcelle</th>
		  	<th class="contentCell" width="250">Largeur</th>
		  	<th class="contentCell" width="150">Longueur</th>
		</thead>
		<tbody>
			<tr *ngFor="let parcelle of parcelles; let i = index">
				<td class="contentCell">({{ parcelle.xparcelle }}, {{ parcelle.yparcelle }})</td>
				<td class="contentCell">{{ parcelle.largeur }}</td>
				<td class="contentCell">{{ parcelle.longueur }}</td>
			</tr>
		</tbody>
	  </table>
</mat-expansion-panel>
