<div id="plant">
	<h1>Plantes</h1>
  
	<div class="divider"></div>
  
	<div id="searchBar">
		<form [formGroup]="searchBar"  (ngSubmit)="onSubmit()" >
			<input type="text" formControlName="searchInfo" placeholder="ex: tuberosum"/>
			<button type="submit" class="btn" [disabled]="!searchBar.valid" >
				<span>Rechercher</span>
			</button>
		</form>
	</div>


	<table id="ht" align="center" border="1" width="800" class="table-striped table-hover">
	  <thead class="header">
		<th class="contentCell" width="400">Nom Latin</th>
		<th class="contentCell" width="250">Category</th>
		<th class="contentCell" width="200">Type</th>
        <th class="contentCell" width="200">Sous-Type</th>
        <th class="contentCell" width="200">Variété Id</th>
	  </thead>
	  <tbody>
		  <tr *ngFor="let plant of plantes; let i = index" colspan="5" style="padding: 0;">
			<td class="contentCell" width="400">{{ plant.nameLatin }}</td>
			<td class="contentCell" width="250">{{ plant.category}}</td>
			<td class="contentCell" width="200">{{ plant.subType }}</td>
			<td class="contentCell" width="200">{{ plant.type }}</td>
			<td class="contentCell" width="200">{{ plant.varietyId }}</td>
		  </tr>
	  </tbody>
	</table>
  </div>