<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand title" href="/">INF3710 - TP4</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/jardin">Jardins</a>
      <a class="nav-item nav-link active" routerLink="/varietes">Variétés</a>
    </div>
  </div>
</nav>

<div class="home" *ngIf="route == ''">
  <p>
    Bienvenue<br />au<br /><span class="fancy">TP4</span>
  </p>
  <button type="button" class="btn" routerLink="/jardin">Voir les jardins &#10140;</button>
  <button type="button" class="btn" routerLink="/varietes">Voir les variétés &#10140;</button>
</div>

<router-outlet></router-outlet>
