<div id="variete">
    <h1>Variétés</h1>

    <div class="divider"></div>

    <table id="ht" align="center" border="1" width="1000" class="table-striped table-hover">
        <thead class="header">
          <th class="contentCell">Nom</th>
          <th class="contentCell">ID</th>
        </thead>

        <tbody>
            <tr *ngFor="let variete of varietes">
                <td class="contentCell">{{ variete.nomvariete }}</td>
                <td class="contentCell">
                    {{ variete.varieteid}}
                    <button (click)="deleteVariete(variete.varieteid)" class="deletebtn" id="rightdelete">Supprimer</button>
                    <button class="deletebtn" id="rightmodify" (click)="goToModify(variete.varieteid)">Modifier</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>