<div id="rangList">
    <h1>Liste des rangs de la parcelle ({{xparcelle}}, {{yparcelle}})</h1>

    <div class="divider"></div>

    <table id="ht" align="center" border="1" width="800">
		<tr class="header">
		  <th class="contentCell">Numéro du rang</th>
		  <th class="contentCell">Position</th>
		  <th class="contentCell">Variétés</th>
		</tr>
		<tr *ngFor="let rang of rangs; let i = index">
			<td class="contentCell">{{ rang.numerorang }}</td>
			<td class="contentCell">({{ rang.xrang }},{{ rang.yrang }})</td>
			<td class="contentCell">{{ rang.nomVariete }}</td>
		</tr>
	  </table>
	  <hr color="white">
	  <button (click)="goBack()" class="back">Retour</button>
</div>