#variete {
    background-color: #e2e2e2;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 3%;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

#ht {
    background-color: white;
    text-align: left;
    float: left;
    margin-left: 15%;
}

.divider {
    border-bottom: 1px solid #9A75F0;
    margin: auto;
    width: 50%;
    margin-bottom: 25px;
}

.header {
    font-size: 18px;
    color: #9A75F0;
    border-bottom: 1px solid black;
}

.contentCell {
    padding: 10px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #9A75F033;
}

.btn {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #9A75F0;
    margin: 20px;
    color: white;
    font-size: 25px;
    font-weight: 800;
    font-family: 'Varela Round', sans-serif;
}

.deletebtn {
    margin-top: 25px;
    border-radius: 4px;
    color: white; 
    background-color: red; 
    border-style: none;
    margin-left: 10px;
    margin-right: 10px;
}

.submitbtn {
    margin-left: 48%;
    margin-top: 25px;
    align-self: center;
    border-radius: 4px;
    color: white; 
    background-color: green; 
    border-style: none;
}

#rightdelete {
    float: right;
    margin-right: -7em;
}

#info {
    color: black;
    float: inline-end;
}

.input {
    margin-top: 1%;
    float: right;
    width: 100%;
    margin-right: 10px;
}

.div-button {
    justify-content: flex;
    display: flex;
}